<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <div class="background"></div>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="x-icon"
      href="{% static 'images/Solstar logo.jpg' %}"
    />
    <title>Solstaronline</title>
    <style>
      .background {
        width: 100%;
        height: 100vh;
        background-image: url("{% static 'images/Solstar main page.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover; /* Adjust as needed */
        background-position: center center;
      }
    </style>
  </head>
  <body></body>
</html>

<p>
  <a href="{% url 'solstar:index' %}">Solstaronline</a>
  {% if user.is_authenticated %} Welcome, {{ user.username }}.
  <a href="{% url 'users:logout' %}">log out </a>
  {% else %}
  <a href="{% url 'users:register' %}">register</a>
  <a href="{%url 'users:login' %}">log in</a>
  <a href="{%url 'solstar:collection' %}">collection</a>
  {% endif%}
</p>

{% block content %} {% endblock content %}
